@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Madimi+One&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-exo: 'Exo', sans-serif;
  --font-marker: 'Permanent Marker', cursive;
  --font-madimi: 'Madimi One', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

.navbar .active {
  background-color: #FF02CB;
  padding: 6px 16px;
  border-radius: 18px;
  color: white;
  box-sizing: border-box;
}

.swiper-button-next {
  right: -30px !important;
}

.swiper-button-disabled{
  background-color: transparent;
  border: 1px solid #FF02CB;
  color: #FF02CB;
}

.swiper-wrapper {
  align-items: stretch !important;
}
.swiper-slide {
  height: auto !important;
}